body {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	background-color: #fff;
	color: rgb(50,50,50);
}

h1,h2,h3 {
	color: rgb(4, 129, 210);
	font-weight: 400;
}

h1 {
	margin-top: 3rem;
	font-size: 2.5rem;
}

h2 {
	font-size: 1.8rem;
}

h3 {
	font-size: 1.5rem;
}

hr {
	margin: 2rem 0rem 1rem 0rem;
	border-left: none;
	border-right: none;
	border-top: none;
	border-bottom: 1px solid rgb(200,200,200);	
}

img.logo {
	max-width: 20rem;
}

img.screenshot {
	border-radius: 1rem;
	max-height: 40rem;
	max-width: 100%;
}
img.screenshot-large {

}

div.feature {
	margin: 3rem 0.2rem 1rem 0.2rem;
}

div.feature img {
	display: inline-block;
	max-height: 30rem;
	max-width: 400px;
	border-radius: 0.5rem;
	border: 1px solid rgb(200,200,200);
	box-shadow: 0rem 0.2rem 0.5rem rgba(10,10,10,0.1);
}

div.feature-item {
	display: inline-block;
	text-align: left;
	vertical-align: top;
	width: 400px;
}

.button {
	display: inline-block;
	background-color: rgb(4, 129, 210);
	color: #fff;
	text-decoration: none;
	padding: 0.5rem 1rem 0.5rem 1rem;
	border: 1px solid rgb(3, 90, 146);
	border-radius: 0.4rem;
}

.button-large {
	font-size: 1.5rem;
}
