body {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	background-color: rgb(240,240,240);
	color: rgb(50,50,50);
}

h1,h2,h3 {
	color: rgb(4, 129, 210);
	font-weight: 400;
}

h1 {
	margin-top: 3rem;
	font-size: 2.5rem;
}

h2 {
	margin-top: 1rem;
	font-size: 1.8rem;
}

h3 {
	margin-top: 0.5rem;
	font-size: 1.5rem;
}

a {
	text-decoration: none;
	color: rgb(4, 129, 210);
}

a:hover {
	text-decoration: underline;
}

hr {
	margin: 2rem 0rem 1rem 0rem;
	border-left: none;
	border-right: none;
	border-top: none;
	border-bottom: 1px solid rgb(200,200,200);	
}

.clear {
	clear: both;
}

img.logo {
	max-width: 19rem;
}
/*
f - fade time
p - presentation time
n - number of pictures
t - animation duration = (f+p)*n

*/
@keyframes screenshot_fade {
	/*
	f = 1s
	p = 3s
	n = 7
	t = 24
	*/
	0% { opacity: 1; }    /* 0% */
	11% { opacity: 1; }   /* p / t % */
	14% { opacity: 0; }   /* ( p + f ) / t % */
	97% { opacity: 0; }   /* 100 - f / t % */
	100% { opacity: 1; }  /* 100% */
}

div.screenshots {
	position: relative;
	width: 800px;
	max-width: 800px;
	height: 600px;
	margin: auto;
	border-radius: 0.5rem;
	border: 1px solid rgb(200,200,200);
	box-shadow: 0rem 0.5rem 2rem rgba(10,10,10,0.2);
}

@media (max-width: 840px) {
	div.screenshots {
		width: 600px;
		max-height: 450px;
	}	
}

@media (max-width: 640px) {
	div.screenshots {
		width: 400px;
		max-height: 300px;
	}	
}

div.screenshots img:nth-of-type(1) { animation-delay: 24s; }
div.screenshots img:nth-of-type(2) { animation-delay: 20s; }
div.screenshots img:nth-of-type(3) { animation-delay: 16s; }
div.screenshots img:nth-of-type(4) { animation-delay: 12s; }
div.screenshots img:nth-of-type(5) { animation-delay: 8s; }
div.screenshots img:nth-of-type(6) { animation-delay: 4s; }
div.screenshots img:nth-of-type(7) { animation-delay: 0s; }


img.screenshot {
	position: absolute;
	left: 0;
	width: 100%;
	border-radius: 0.5rem;
	animation-name: screenshot_fade;
	animation-duration: 28s;
	animation-iteration-count: infinite;
}

div.navigation {
	position: fixed;
	top: 0rem;
	right: 0rem;
	margin: 1rem;
	z-index: 1;
}

div.navigation .menu-button {
	float: right;
	font-size: 2.3rem;
	color: #fff;
	background-color: rgb(4, 129, 210);
	border-radius: 50%;
	width: 3.5rem;
	height: 3.5rem;
	box-shadow: 0rem 0.3rem 0.5rem rgba(10,10,10,0.2);
}

div.navigation .menu {
	display: none;
	background-color: rgb(4, 129, 210);
	background-color: #fff;
	margin-top: 0.5rem;
	padding: 0.5rem;
	text-align: left;
	box-shadow: 0rem 0.3rem 0.5rem rgba(10,10,10,0.2);
	border-radius: 1rem;
}

div.navigation:hover .menu,
div.navigation:active .menu,
div.navigation:focus .menu {
	display: block;
}

div.navigation a {
	display: block;
	font-size: 1.5rem;
	margin: 0.5rem 0rem 1rem 0rem;
	/*color: rgb(255,255,255);*/
}

div.feature {
	margin: 3rem 0.2rem 1rem 0.2rem;
}

div.feature img {
	margin: 0.5rem 0rem 0rem 1rem;
	display: inline-block;
	max-width: 400px;
	border-radius: 0.5rem;
	border: 1px solid rgb(200,200,200);
	box-shadow: 0rem 0.2rem 0.5rem rgba(10,10,10,0.1);
}

div.feature-item {
	display: inline-block;
	text-align: left;
	vertical-align: top;
	width: 350px;
}

.button {
	display: inline-block;
	background-color: rgb(4, 129, 210);
	color: #fff;
	text-decoration: none;
	padding: 0.5rem 1rem 0.5rem 1rem;
	border: 1px solid rgb(3, 90, 146);
	border-radius: 0.4rem;
}

.button-large {
	font-size: 1.5rem;
}

a.button {
	text-decoration: none;
}

footer {
	font-size: 0.8rem;
	color: rgb(180,180,180);
}
