---
layout: root
title: Available Plugins
id: plugins
footer_links: [ { "url" : "/data/plugins.json", "name": "JSON" } ]
---
<p class="header-text">MacPass can be extended with Plugins. Below is a list of all officially supported plugins. To install a plugin, either download the file with the supplied link or browse the plugin repository in MacPass.</p>
<hr>
<div class="plugins">
{% for plugin in site.data.plugins %}  
<div class="plugin-item">
  <h2>{{ plugin['name'] }}
    <span class="plugin-version">({{ plugin['currentVersion'] }})</span>
    {% if plugin['compatibilty'].last['minimumHostVersion'] %}
      <span class="plugin-host-version">requires MacPass: {{ plugin['compatibilty'].last['minimumHostVersion'] }}
          {% if plugin['compatibilty'].last['maximumHostVersion'] %}
            to {{ plugin['compatibilty'].last['maximumHostVersion'] }}.
          {% else %}
            or higher.
          {% endif %}
    {% endif %}
  </h2>
  <p>
    {{ plugin['description'] }}
  </p>
  <div class="plugin-download">
    <a class="button" href="{{ plugin['download'] }}">Download</a>
    <a class="button" href="{{ plugin['source'] }}">Source</a>
  </div>
</div>
{% endfor %}
</div>
