---
layout: root
title: Sponsors
id: sponsors
---
<p class="header-text">
    Developing MacPass was and always is about having fun creating an application that is usefull for people.
    Knowing that users manage one of the most sensitive data with your tool is something to be very proud of and I'm gratefull for every single user.
</p>
<p class="header-text">
    Monetarization was and never will be a goal so I'm more than overjoyed when people send some of their hard earned money my way.
    I want to thank each and every one of you.
    It's nice to see that there are kind and generous people in the world, a world that all too often seems like it's gone off the rails.</p>
<hr>
<div class="sponsors">
{% for sponsor in site.data.sponsors %}  
    <div class="sponsor">
    <h2>{{ sponsor['name'] }}
        {% if sponsor['tier'] == 4 %}
            🎉
        {% endif %}
    </h2>
    <div class="sponsor-details">
        {% if sponsor['url'] %}
            <a href="{{ sponsor['url'] }}">{{ sponsor['url'] }}</a>
        {% endif %}
        {% if sponsor['mail'] %}
            <a href="mailto:{{ sponsor['mail'] }}">{{ sponsor['mail'] }}</a>
        {% endif %}
        {% if sponsor['twitter'] %}
            <a href="https://twitter.com/{{ sponsor['twitter'] }}">@{{ sponsor['twitter'] }}</a>
        {% endif %}
    </p>
    </div>
{% endfor %}
</div>