<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>MacPass - a KeePass compatible port for macOS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="flattr:id" content="gp1lke">
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">

    <link rel="shortcut icon" href="img/app_icon.png">
</head>

<body>
    <p class="thank-you"><span class="heart">❤️</span> Dear MacPass user, thank you for sticking with MacPass despite no official release for far too long. Finally version 0.8 is available which fixes the biggest issues on macOS 11 and above.</p>
    <img src="img/app_icon.png" class="logo" />
    <div class="navigation">
        {% if page.id == 'home' %}
        <a class="current-page" href="/">Overview</a>
        {% else %}
        <a href="/">Overview</a>
        {% endif %}
        {% if page.id == 'plugins' %}
        <a class="current-page" href="/plugins">Plugins</a>
        {% else %}
        <a href="/plugins">Plugins</a>
        {% endif %}
        {% if page.id == 'sponsors' %}
        <a class="current-page" href="/sponsors">Sponsors</a>
        {% else %}
        <a href="/sponsors">Sponsors</a>
        {% endif %}
        <a href="https://github.com/MacPass/MacPass/wiki">Documentation</a>
        <a href="https://github.com/MacPass/MacPass/">GitHub</a>
    </div>

    <h1>{{ page.title }}</h1>
    <div class="content">
        {{content}}
    </div>
    <hr/>
    <footer>
        <a href="https://twitter.com/MacPassApp">Twitter</a>
        <a href="https://github.com/MacPass/MacPass/">GitHub</a>
        <a href="/legal-notice">Legal notice</a>
        {% for link in page.footer_links %}
        <a href="{{ link['url'] }}">{{ link['name'] }}</a>
        {% endfor %}
        <p id="copyright">&copy; 2017 - {{ site.time | date: '%Y' }} HicknHack Software GmbH</p>
    </footer>
</body>

</html>
