<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>MacPass - a KeePass compatible port for macOS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="flattr:id" content="gp1lke">
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">

    <link rel="shortcut icon" href="img/app_icon.png">
</head>

<body>
    <p class="big-sur-warning">The latest version of MacPass (0.7.12) does not work properly under macOS 11.0 Big Sur. An update will be released soon! You can download the latest development snapshot at: <a href="https://github.com/MacPass/MacPass/releases/tag/continuous">https://github.com/MacPass/MacPass/releases/tag/continuous</a></a></p>
    <img src="img/app_icon.png" class="logo" />
    <div class="navigation">
        {% if page.id == 'home' %}
        <a class="current-page" href="/">Overview</a>
        {% else %}
        <a href="/">Overview</a>
        {% endif %}
        {% if page.id == 'plugins' %}
        <a class="current-page" href="/plugins">Plugins</a>
        {% else %}
        <a href="/plugins">Plugins</a>
        {% endif %}
        {% if page.id == 'sponsors' %}
        <a class="current-page" href="/sponsors">Sponsors</a>
        {% else %}
        <a href="/sponsors">Sponsors</a>
        {% endif %}
        <a href="https://github.com/MacPass/MacPass/wiki">Documentation</a>
        <a href="https://github.com/MacPass/MacPass/">GitHub</a>
    </div>

    <h1>{{ page.title }}</h1>
    <div class="content">
        {{content}}
    </div>
    <hr/>
    <footer>
        <a href="https://twitter.com/MacPassApp">Twitter</a>
        <a href="https://github.com/MacPass/MacPass/">GitHub</a>
        {% for link in page.footer_links %}
        <a href="{{ link['url'] }}">{{ link['name'] }}</a>
        {% endfor %}
        <p>&copy; 2017 - {{ site.time | date: '%Y' }} HicknHack Software GmbH</p>
    </footer>
</body>

</html>
